<div class="row mb-4">
  <h1 class="mb-3">{{pageTitle}}</h1>
  <div class="col">
    <ul class="nav nav-pills justify-content-center">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/admin/dashboard">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/admin/write">Create post</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/admin/register-user">Register user</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/admin/create-source">Register source</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/admin/create-category">Register category</a>
      </li>
    </ul>
  </div>
</div>
